nav{
    width: 100vw;
    height: 5vh;
    background-color: rgb(255, 105, 0);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;   
}
.logo-header{ height: 4vh;}

main{
    margin-top: 5%}
.container{
    width: 70vw;
    height: 1060px;
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    }
.container-foot{
    width: 70%;
    display: flex;
    justify-content: space-between;
}
.card{
    width: calc((100% / 3) - 80px);
    height: 445px;
    background-color: rgba(222, 158, 158, 0.475);
    border: 1px solid white;
    margin-left: 40px;
    margin-right: 40px;
}
.mod>img{
    width: 100%;
    height: 380px;
}
.frst-img{
    display: inline-block;
    position: absolute;
}
.scnd-img{
    display: none;
    position: absolute;
}
.mod:hover .frst-img{
 display: none;
}
.mod:hover .scnd-img{
    display: inline-block;
}
.mod{
 position: relative;
 height: 380px;
}
.badges{
    position: absolute;
    bottom: 10px;
}
.heart{
    position: absolute;
    right: 0;
    color: red;
    top:100px;
}
.info-item{
  padding: 5px;
}
.brand{
    font-weight: bold;
    font-size: 13px;
}
.price , .pricex{
    font-weight: bold;
    font-size: 13px;
}
.pricex{
    color: red;
    text-decoration: line-through;
}
.price-red{color: red;}
h2{
    font-size: 15px;
}
.wish{
    width: 25px;
    height: 25px;
    font-size: 20px;
    position:absolute;
    right: 0;
    top:10px;
    border: none;
    background-color: rgb(231, 231, 231);
}
.wish:hover{
    color: red;
    cursor: pointer;
}
footer{
    background-color: rgba(0, 0, 0, 0.849);
    width: 100%;
    height: 70px;
}
.ending-lin{
    
    width: 100v
    height: vh;
    line-height: 0.7;
}
h3{
    color:white;
    font-size: 17px;
    padding-top: 20px;
}
h{6
    color: white;
    font-size: 15px;
    padding: 20px;
}
i{
    padding-left: 7px;
}
.sale , .eco , .just-eco{
    display: inline-block;
    position: absolut
}
.sale{
    background-color: red;
    bottom:30p
}
.eco{
    background-color: greenyellow;
    bottom: 30p
    left:45p
}
.just-eco{
    background-color: greenyellow;
    bottom:30px;}
.sale:hover , .eco:hover{
    background-color: rgb(93, 190, 222);
    cursor: pointer;
}