nav{
    width: 100vw;
    height: 5vh;
    background-color: rgb(255, 105, 0);
    
}
.logo-header{ height: 4vh;}

.card{
    width: calc((100% / 3) - 60px);
    height: 50vh;
    background-color: white;
    border: 1px solid black;
    margin:30px;
}
.cont-cent{
    width: 75vw;
}