nav{
    width: 100vw;
    height: 5vh;
    background-color: rgb(255, 105, 0);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;   
}
.logo-header{ height: 4vh;}

main{
    margin-top: 5%}
.container{
    width: 75vw;
    height: 75vh;
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    }

.card{
    width: calc((100% / 3) - 80px);
    height: 450px;
    background-color: rgba(222, 158, 158, 0.689);
    border: 1px solid white;
    margin: 40px;
}
.mod>img{
    width: 100%;
    height: 385px;
}
.frst-img{
    background-color: blueviolet;
    display: inline-block;
    position: absolute;
}
.scnd-img{
    background-color: brown;
    display: none;
    position: absolute;
}
.mod:hover .frst-img{
 display: none;
}
.mod:hover .scnd-img{
    display: inline-block;
}
.mod{
 position: relative;
}
.badges{
    position: relative;
}
.heart{
    position: absolute;
    right: 0;
    color: red;
    top:100px;
}



.dscript{
  padding: 5px;
}
.brand{
    font-size: 13px;
}
.price , .pricex{
    font-size: 13px;
}
.pricex{
    color: red;
    text-decoration: line-through;
}
.price-red{color: red;}
h2{
    font-size: 15px;
}
.mod-1 , .mod-2 , .mod-3 , .mod-4 , .mod-5 , .mod-6{
    position:relative
}

.wish{
    width: 25px;
    height: 25px;
    font-size: 20px;
    position:absolute;
    right: 0;
    top:10px;
    border: none;
    background-color: rgb(231, 231, 231);
}
.wish:hover{
    color: red;
    cursor: pointer;
}
.ending-line{
    background-color: rgba(0, 0, 0, 0.849);
    width: 100vw;
    height: 17vh;
    line-height: 0.7;
}
h5{
    color:white;
    font-size: 17px;
    padding-top: 20px;
}
h6{
    color: white;
    font-size: 15px;
    padding: 20px;
}
i{
    padding-left: 7px;
}
.sale , .eco , .just-eco{
    display: inline-block;
    position: absolute;
}
.sale{
    background-color: red;
    bottom:30px;
}
.eco{
    background-color: greenyellow;
    bottom: 30px;
    left:45px;
}
.just-eco{
    background-color: greenyellow;
    bottom:30px;}
.sale:hover , .eco:hover{
    background-color: rgb(93, 190, 222);
    cur
}